.work{
  margin-top: 38px;
  display: flex;
  justify-content: center;
  .work__text{
    display: flex;
    align-items: center;
    flex-direction: column;
    h3{
      font-size: 34px;
      font-weight: 400;
    }
    p{
      margin-top: 23px;
      font-size: 16px;
      font-weight: 400;
      color: #A0A0A0;
    }
  }
  &_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .work__item{
      margin-top: 25px;
    }
  }
}
